html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Major Mono Display', monospace;
}

main {
    padding-top: 140px;
}

header {
    background-color: #f0f000;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    font-size: 60px;
    text-align: center;
    line-height: 120px;
}

iframe {
    border-radius: 5px;
}

.games {
    height:100%;
    margin: 0px auto;
}

.game {
    padding: 5px 5px 0px 5px;
}
/*
.game:nth-child(even) {
    float: left;
}
.game:nth-child(odd) {
    float: right;
}
*/
a:link, a:visited {
    background-color: black;
    color: yellow;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #012345;
}

footer {
    font-size: 24px;
    padding: 20px;
    text-align: center;
}
